<div class="container">
  <ng-container *ngIf="false">
    <app-person
      [persons]="adults"
      [personType]="'Adults'"
      (editPersonEvent)="editEventHandler($event)"
      (deletePersonEvent)="deleteEventHandler($event)"
    ></app-person>
    <app-person
      [persons]="kids"
      [personType]="'Kids'"
      (editPersonEvent)="editEventHandler($event)"
      (deletePersonEvent)="deleteEventHandler($event)"
    ></app-person>
    <app-person
      [persons]="teens"
      [personType]="'Teens'"
      (editPersonEvent)="editEventHandler($event)"
      (deletePersonEvent)="deleteEventHandler($event)"
    ></app-person>
    <button mat-button>mat-click</button>
  </ng-container>
  <ng-container *ngIf="!showForm">
    <app-table [persons]="persons"></app-table>
    <button
      class="add-person-btn"
      mat-raised-button
      color="primary"
      (click)="addPerson()"
    >
      add person
    </button>
  </ng-container>

  <ng-container *ngIf="showForm">
    <app-add-person
      (addPerson)="addPersonHandler($event)"
      (cancelForm)="cancelFormHandler()"
      [person]="personToEdit"
      [actionType]="actionType"
    ></app-add-person>
  </ng-container>
</div>
